body {
    font-family: sans-serif;
    background-color: #5e5e5e;
}

.darkMode {
    background-color: #FFFFFF;
    color: #1d1d1d;
}

#topbar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5px;
    background-color: #202020;
}

#darkModeButton {
    align-self: flex-end;
    margin: -50px 25px 0px 0px;
}

#title {
    color: #1d8ef1;
    font-family: Tahoma;
    font: 700;
}

#landing {
    background-image: url("assets/R6S_Cinematic_1.webp");
    background-color: #cccccc;
    height: 600px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#landing img {  
    position: absolute;
}

#landing ul {
    list-style-type: none;
    margin: 400px 0px 0px 0px;
    padding: 0px;
}
  
#landing li {
    float: left;
}
  
#landing li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    margin: 0px 5px;
    text-decoration: none;
    font-weight: bold;
    border: 2px solid #FFFFFF;
}

#landing li a:hover {
    background-color: #2990ea;
    color: #1d1d1d;
}


#gameguide {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.imageBG {  
    animation: zoom 1s linear infinite;
    animation-play-state: paused;
    animation-delay: calc(var(--scroll) * -1s);
    filter: blur(1.5px);
}

.imageText { 
    opacity: 0.75;
    animation: textOpa 1s linear infinite;
    animation-play-state: paused;
    animation-delay: calc(var(--scroll) * -1s);
}
  
@keyframes zoom {
    to {
        transform: scale(1.5);
    }
}

@keyframes textOpa {
    to {
        opacity: 1;
    }
}

/*https://css-tricks.com/books/greatest-css-tricks/scroll-animation/
https://stackoverflow.com/questions/22492498/css-resize-zoom-in-effect-on-image-while-keeping-dimensions
*/

.hide_overflow {
    display: inline-block;
    overflow: hidden;
    position: relative;
    top: 0;
    left: 0;
}

.imageBG {
    position: relative;
    top: 0;
    left: 0;
}

.imageText {
    position: absolute;
    top: 30px;
    left: 30px;
}

#mainID h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

#mainID p {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin: 0px 100px 0px 100px;
}

#gamenews {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    align-content: center;
    gap: 10px;
}

#gamenews h1 {
    align-self: flex-start;
}

#gamenews article {
    background-color: #1d8ef1;
    padding: 0px 10px;
    margin: 5px 0px;
    border-radius: 15px;
    height: 485px;
}

#gamenews p {
    color: #3b3b3b;
    margin: 0px 0px 0px 0px;
}

nav ul {
    list-style-type: none;
    margin: 12px;
    padding: 0;
    background-color: #1d1d1d;
}
  
nav li {
    float: left;
    border: #ffffff 2px solid;
    border-radius: 0px 0px 15px 0px;
    margin: 2px;
}
  
nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav li a:hover {
    background-color: #1d8ef1;
    border-radius: 0px 0px 15px 0px;
    opacity: 0.75;
}

h1 {
    color: #FFFFFF;
}

p {
    color: #ffffff;
}

article img {
    width: 98%;
}

.date {
    font-size: 12px;
    font-style: italic;
}

footer {
    color: white;
    clear: both;
    padding: 1px;
    background-color: #3b3b3b;
    text-align: center;
}

#brushSelection {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#mapSelection {
    margin: 0px 0px 0px 60px;
    display: flex;
    justify-content: left;
    flex-direction: row;
    gap: 5px;
}

#brush1 {
    border: 2px solid #ff0000;
}

#map1 {
    border: 2px solid #ffffff;
}

#clearCanvas {
    margin: 110px 0px 0px 5px;
}

#temp {
    display: flex;
    flex-direction: row;
    gap: 10px;
}


#mediaPosts {
    display: flex;
    justify-content: left;
    flex-direction: row;
    align-items: left;
    align-content: left;
    gap: 10px;
    margin: 10px;
}

.column {
    width: 33%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    align-content: center;
    gap: 10px;
}

.column h1 {
    align-self: flex-start;
}

.column article {
    background-color: #1d8ef1;
    padding: 0px 10px;
    margin: 5px 0px;
    border-radius: 15px;
}

.column p {
    color: #3b3b3b;
    margin: 0px 0px 0px 0px;
}

.column img {
    height: 200px;
    width: 350px;
}